 .header {
    height: 80px;
    background-color: #2c2c54;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
 }

 .header a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 35px;
 }
.header a:hover {
    color: orange;
}